<!DOCTYPE html>
<html lang="en">
<head>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}"/>

        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
      	<meta name="viewport" content="width=device-width, initial-scale=1">
      	<meta name="description" content="Build or repair just about anything" />
      	<meta name="keywords" content="handyman, waco, texas, home improvement, house repairs, contractor" />
      	<meta name="author" content="hellofixit.net" />
</head>
<body style="background-color: #e17060;">
  <div style="background-color: grey;">
    <div class="working">  
      {% block content %}
      DASHBOARD
      <br><br>
      <a href="/">Xylene Home</a>
      <br><br>
      Username: {{ckl[1]}}
      <br><br>
      {%if ckl[0]==1:%}
        <table style="padding:2%; margin:2%; min-width: 96%; border-style: double;">
        {%for i in dashboardData:%}
          <tr>
            <td style="border: 1px solid black; width:60%">{{i}}</td>
            <td style="padding-left:10%">{{dashboardData[i]}}</td>
          </tr>
        {%endfor%}
      {%endif%}
      {% endblock %}
    </div>
  </div>
</body>
</html>
